<div class="jumbo">
  <div class="right tomster"></div>
  <h2>About AfriCuisine</h2>
  <p>
    AfriCuisine is on going restaurant project. <br>The project is to provide customers with fast and secure methods for placing food orders online.<br>
    With diversity of food, the restaurant will serve meals of different nature made in Africa.<br>
    We explore different African food such Casava and Fufu.
  </p>
  {{#link-to 'contact' class="button"}}
  Contact Us
{{/link-to}}
</div>
