<div class="container">
  <div class="menu">
    {{#link-to 'index'}}
      <h1>
        <em>AfriCuisine</em>
      </h1>
    {{/link-to}}
  </div>
  <div class="body">
    {{outlet}}
  </div>
</div>
