<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Contact Us</h2>
  <p>AfriCuisine customer Representatives would love to help you<br>order our fabilous menu or answer
    any questions you may have.</p>
  <p>
    AfriCuisine Restaurant
    <address>
      1026 Q Street <br>
      Omaha, NE 68127
    </address>
    <a href="tel:402.333.1111">+1 (402)333-1111</a><br>
    <a href="mailto:africuisine@yahoo.fr">africuisine@yahoo.fr</a>
  </p>
  {{#link-to 'about' class="button"}}
  About <br>
{{/link-to}}
{{#link-to 'home' class="button"}}
Home
{{/link-to}}
</div>

{{outlet}}
