<div class="jumbo">
  <div class=""></div>
  <h1>Welcome to AfriCuisine!</h1>
  <p>We are delighted to serve you with  a selection of menu that we will not forget. Please take our quick servey to let us know how we are doing.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>
{{outlet}}
