<h1>MENU</h1>

<div class="layout-column flex-xs flex-gt-xs-30">
   {{#paper-card as |card|}}
     {{#card.title as |title|}}
       {{#title.text as |text|}}
         {{#text.headline}}Name of food{{/text.headline}}
         {{#text.subhead}}Description {{/text.subhead}}
         {{#text.subhead}}Price{{/text.subhead}}
         {{#text.subhead}}Calories{{/text.subhead}}
       {{/title.text}}
     {{/card.title}}

{{#paper-list}}

       <h3> Special Requests</h3>
        <p>
          <div class="layout-align-end, flex-100">
          {{paper-input textarea=true block=true label="Special Request" maxlength=100 passThru=(hash rows=1 maxRows=3)
            value=special onChange=(action (mut special))}}
          </div>
        </p>

      <p>
       <div class="layout-column, layout-align-start">


              {{#paper-checkbox value=value1 onChange=(action (mut value1))}}
                  Add to cart: {{value1}}
              {{/paper-checkbox}}
       </div>
     </p>
{{/paper-list}}
   {{/paper-card}}
 </div>
{{outlet}}
